.vscode
venv
.DS_Store
My-way.session.sql

app/router/__pycache__
app/__pycache__
app/model/__pycache__
app/other/__pycache__



app/image/big_task/*.png
app/image/big_task/*.jpeg
app/image/big_task/*.jpg
app/image/big_task/*.tiff
app/image/big_task/*gif
app/image/big_task/*jp2
app/image/big_task/*raw

app/image/user/*.png
app/image/user/*.jpeg
app/image/user/*.jpg
app/image/user/*.tiff
app/image/user/*gif
app/image/user/*jp2
app/image/user/*raw